{% extends 'core/base.html' %}

{% block content %}
    <h1 class="mb-4">Productos</h1>
    <a href="{% url 'productos:crear' %}" class="btn btn-dark mb-3">+ Nuevo Producto</a>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Ubicación</th>
                <th>Categoría</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.get_unidad_medida_display }}</td>
                <td>{{ producto.get_ubicacion_display }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{% if producto.disponible %}✅{% else %}❌{% endif %}</td>
                <td>
                <a href="{% url 'productos:editar' producto.pk %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'productos:eliminar' producto.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}